
<!--<iframe src="http://localhost:8081/app/main#/dashboards/5931039bc28cf6881f000010" style="width:100%;height:760px"></iframe>-->
<div ng-controller="ulController">
    <div  data-ng-repeat="data in navLists" >
        <iframe class="changeIframe" data-ng-if="data.nav_type==2||data.nav_type==3" data-ng-src="{{data.url}}" style="width:100%;height:760px" data-ng-show="data.showIndex==1"></iframe>
        <div data-ng-if="data.nav_type==1" data-ng-include="data.url"  data-ng-show="data.showIndex==1">
        </div>
    </div>  
</div>