<!-- hbox layout -->
<div class="hbox hbox-auto-xs bg-light " ng-init="
  app.settings.asideFolded = true; 
  app.settings.asideFixed = true; 
  app.hideAside = false">
  <!-- column -->
  <div class="col w lter b-r">
    <div class="vbox">
      <div class="wrapper b-b b-light">
        <div class="font-thin h4">Header</div>
      </div>
      <div class="row-row">
        <div class="cell scrollable hover">
          <div class="cell-inner">
            <div class="wrapper-md">
              This is the scrollable content, hover to show the scrollbar
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
              You got the bottom
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col">
    <div class="vbox">
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              This is the scrollable content
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
              You got the bottom
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- /column -->

  <!-- column -->
  <div class="col w-md lter b-l">
    <div class="vbox">
      <div class="wrapper b-b b-light">
        <div class="font-thin h4">Header</div>
        <small class="text-muted">with fluid height</small>
      </div>
      <div class="row-row">
        <div class="cell">
          <div class="cell-inner">
            <div class="wrapper-md">
              This is the scrollable content
              <p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p><p>&nbsp;</p>
              You got the bottom
            </div>
          </div>
        </div>
      </div>
      <div class="padder b-t b-light text-center">
        <div class="m-xs">Footer with fluid height</div>
      </div>
    </div>
  </div>
  <!-- /column -->





















<!--  <div class="userNews">
    <div class="userNewsHeader">
      <span class="my_words" data-ng-click="wordsChange()">我的消息</span>
      <span>/</span>
      <span class="my_comment" data-ng-click="commentChange()">我的评论</span>
    </div>
    <div class="userNewsBodyer1">
      <ul>
        <li data-ng-click="liContainShow()">
          <span>admin刚刚给您分享了一张'销售大盘'</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain liContainTs">
            <p>销售大盘</p>
            <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>admin刚刚给您分享了一张'01销售看板 (1)'</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>admin刚刚给您分享了一张'漏斗图'</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>admin刚刚给您分享了一张'树地图'</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>admin刚刚给您分享了一张'日历热图'</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>膛有</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>admin刚刚给您分享了一张'01销售看板 (1)'</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>admin刚刚给您分享了一张'漏斗图'</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>admin刚刚给您分享了一张'树地图'</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
      </ul>
      &lt;!&ndash;<div class="userNewsFooter">
        <ul>
          <li><</li>
          <li>1</li>
          <li>2</li>
          <li>3</li>
          <li>4</li>
          <li>></li>
        </ul>
        <span>共计3页</span>
        <span>到第<input type="number">页</span>
      </div>&ndash;&gt;
      <footer class="panel-footer" style="background-color: #edf1f2;margin-top: 80px">
        <div class="row">
          <div class="col-sm-3 hidden-xs">
          </div>
          <div class="col-sm-3 text-center">
          </div>
          <div class="col-sm-6 text-right text-center-xs">
            <ul class="pagination pagination-sm m-t-none m-b-none">
              <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">5</a></li>
              <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <span class="changeTs">跳转到第<input type="number" style="width: 40px;height: 20px;display: inline-block;">页</span>
          </div>
        </div>
      </footer>
    </div>
    <div class="userNewsBodyer2">
      <ul>
        <li>
          <span>最近客户量下降请解释一下</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain liContainTs">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>感觉不错，你们觉得哪？</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>界面整洁</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>感觉不错，你们觉得哪？</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>最近客户量下降请解释一下</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>哎呀</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>感觉不错，你们觉得哪？</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
        <li>
          <span>界面整洁</span>
          <span class="timeSpTs">2017/8/01&nbsp;&nbsp;10:28:24</span>
        </li>
        <div class="liContain">
          <p>销售大盘</p>
          <p>admin刚刚给您分享了一张'销售大盘'</p>
        </div>
      </ul>
      <footer class="panel-footer" style="background-color: #edf1f2;margin-top: 80px">
        <div class="row">
          <div class="col-sm-3 hidden-xs">
          </div>
          <div class="col-sm-3 text-center">
          </div>
          <div class="col-sm-6 text-right text-center-xs">
            <ul class="pagination pagination-sm m-t-none m-b-none">
              <li><a href=""><i class="fa fa-chevron-left"></i></a></li>
              <li><a href="">1</a></li>
              <li><a href="">2</a></li>
              <li><a href="">3</a></li>
              <li><a href="">4</a></li>
              <li><a href="">6</a></li>
              <li><a href="">7</a></li>
              <li><a href="">8</a></li>
              <li><a href="">...</a></li>
              <li><a href=""><i class="fa fa-chevron-right"></i></a></li>
            </ul>
            <span class="changeTs">跳转到第<input type="number" style="width: 40px;height: 20px;display: inline-block;">页</span>
          </div>
        </div>
      </footer>
    </div>
  </div>-->



































</div>
<!-- /hbox layout -->